.comment_hover:hover {
  animation: hovers 2s ease-out;
}
@keyframes hovers {
  from {
    transform: scale(1px);
  }
  to {
    transform: scale(1.5px);
  }
}

#chat1 .form-outline ~ .form-notch div {
  pointer-events: none;
  border: 1px solid;
  border-color: #eee;
  box-sizing: border-box;
  background: transparent;
}

#chat1 .form-outline ~ .form-notch .form-notch-leading {
  left: 0;
  top: 0;
  height: 100%;
  border-right: none;
  border-radius: 0.65rem 0 0 0.65rem;
}

#chat1 .form-outline ~ .form-notch .form-notch-middle {
  flex: 0 0 auto;
  max-width: calc(100% - 1rem);
  height: 100%;
  border-right: none;
  border-left: none;
}

#chat1 .form-outline ~ .form-notch .form-notch-trailing {
  flex-grow: 1;
  height: 100%;
  border-left: none;
  border-radius: 0 0.65rem 0.65rem 0;
}

#chat1 .form-outline:focus ~ .form-notch .form-notch-leading {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-left: 0.125rem solid #39c0ed;
}

#chat1 .form-outline:focus ~ .form-notch .form-notch-leading,
#chat1 .form-outline.active ~ .form-notch .form-notch-leading {
  border-right: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline:focus ~ .form-notch .form-notch-middle {
  border-bottom: 0.125rem solid;
  border-color: #39c0ed;
}

#chat1 .form-outline:focus ~ .form-notch .form-notch-middle,
#chat1 .form-outline.active ~ .form-notch .form-notch-middle {
  border-top: none;
  border-right: none;
  border-left: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 0.125rem solid #39c0ed;
  border-bottom: 0.125rem solid #39c0ed;
  border-right: 0.125rem solid #39c0ed;
}

#chat1 .form-outline .form-control:focus ~ .form-notch .form-notch-trailing,
#chat1 .form-outline .form-control.active ~ .form-notch .form-notch-trailing {
  border-left: none;
  transition: all 0.2s linear;
}

#chat1 .form-outline .form-control:focus ~ .form-label {
  color: #39c0ed;
}

#chat1 .form-outline .form-control ~ .form-label {
  color: #bfbfbf;
}

#user_card_hover_posts {
  transition-duration: 0.5s;
  /* border: 0.01px solid black; */
  border-radius: 0%;
  box-shadow: 0px 3px 5px gray;
}
#user_card_hover_posts:hover {
  /* transform: scale(1.02); */
  transition-duration: 0.5s;
  box-shadow: 0px 5px 5px gray;
}
#container {
  /* border: 1px solid black; */
  overflow: hidden;
}
#container img {
  display: block;
  transition: transform 0.4s; /* smoother zoom */
}
#user_card_hover_posts:hover img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
  transition: transform 0.4s; /* smoother zoom */
}

.nav-link {
  transition: border-bottom 0.5s ease-in-out;
}
.nav-link.active {
  /* background-color: var(--bg); */
  color: var(--color-text);
  border-bottom: black 3px solid;
  animation: bottom_width 0.2s;
}

@keyframes bottom_width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
    /* border-right: black 2px solid; */
  }
}
.nav-link-logout {
  transition: border-bottom 0.5s ease-in-out;
}
.nav-link-logout.active {
  /* background-color: var(--bg); */
  color: var(--color-text);
  border-bottom: black 3px solid;
  animation: bottom_width 0.2s;
}

@keyframes bottom_width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
    /* border-right: black 2px solid; */
  }
}

.background_dim {
  background: rgba(0, 0, 0, 0.5);
}

.pointer {
  cursor: pointer;
}
