#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  color: white;
  border-radius: 5%;
  text-align: center;
  padding-top: 3%;
}
.box1 {
  background-color: blue;
}
.box2 {
  background-color: green;
}
.box3 {
  background-color: red;
}

@media screen and (max-width: 768px) {
  .box {
    width: 150px;
    height: 150px;
  }
}

card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.card {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

/* admin_blur_animation */

#card_hover_posts {
  transition-duration: 0.5s;
  /* border: 0.01px solid black; */
  box-shadow: 0px 3px 5px gray;
}
#card_hover_posts:hover {
  transform: scale(1.02);
  transition-duration: 0.5s;
  box-shadow: 0px 5px 10px gray;
}
#card_hover_users {
  transition-duration: 0.4s;
  /* border: 0.01px solid black; */
  box-shadow: 0px 3px 10px gray;
}
#card_hover_users:hover {
  transform: scale(1.01);
  transition-duration: 0.4s;
  box-shadow: 0px 5px 10px gray;
}

#card_hover_users_count {
  transition-duration: 0.4s;
  /* border: 0.01px solid black; */
  box-shadow: 0px 3px 10px gray;
}
#card_hover_users_count:hover {
  transform: scale(1.01);
  transition-duration: 0.4s;
  box-shadow: 0px 5px 10px gray;
}


#send_mail{
  border-radius: 10px black;
  box-shadow: 10px ;
  margin-bottom: 1px;
}